.Label {
  display: block;
  margin-bottom: 4px;
}

.Input {
  border: none;
  border-radius: 8px;
  background-color: #e0e0e0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.Input::placeholder {
  font-size: .9rem;
}

.Input:focus {
  outline: none;
}

.ErrorMsg {
  font-size: .7rem;
  margin: 0;
  margin-top: 3px;
  color: red;
}